/************* Styles for All */
h1 {
    font-family: "Candara", sans-serif;
    font-size: 32px;
}

h2 {
    font-family: "Book Antiqua", serif;
    font-size: 26px;
}

h3 {
    font-family: "Candara", "Helvetica", sans-serif;
    font-size: 20px;
}

p {
    font-family: "Book Antiqua", "Times New Roman", serif;
    font-size: 16px;
}

.btnText, .navText {
    font-family: "Lucida Handwriting Italic", "Brush Script MT", cursive;
    font-size: 20px;
}

.navText {
    font-size: 30px;
    color: black;
}


/***** Navigation */
.navbar {
    background-color: rgba(248, 244, 241, .5);
    background: rgba(248, 244, 241, .5);
    border-color: rgba(248, 244, 241, .5);
    
    width: 100%;
    height: 100px;
    
    position: absolute;
    z-index: 10;
}

.navbar li {
    color: #000000;
}

.navbar img {
    min-width: 100px;
    
    margin-top: 0;
}

.navbar h3, p {
    padding-right: 10px;
}

#navTopContainer {
    margin: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-nav {
        position: absolute;
        left: 25%;
        margin: 25px auto 0 auto;
    }
}



/************* HOME */

/***** XS */
#home-xs { /* img cover of screen on xs device */
    background: url("../images/tool-workshop_carousel.jpg");
    min-height: 100%;
    min-width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
    opacity: .65;
}

#logo-xs {
    position: absolute;
    bottom: 3%;
}


/***** SM+ */
.item img { /* carousel img transparency */
    opacity: .65;
}

.carousel-caption img { /* logo img no transparency */
    opacity: 1;
}

.carousel-caption { /* logo placement adjustment */
    left: 3%;
    padding: 0;
}


/***** Home Navigation */
#navTopContainer {
    margin-right: 0;
    margin-left: 0;
}

/* stay collapsed for index and all xs screens */
.index .navbar-header {
    float: none;
}
.index .navbar-toggle {
    display: block;
}
.index .navbar-collapse.collapse {
    display: none !important;
}
.index .navbar-nav {
    float: none !important;
}
.index .navbar-nav>li {
    float: none;
}
.index .navbar-collapse.collapse.in{
    display: block !important;
}







/************* ABOUT */
.about_Content {
    margin: 0;
}

.about h1 {
    margin: 15% 0 5% 0;
}

.xsOnly_About h1 {
    margin-top: 10%;
}

.xs-p {
    clear: both;
    padding: 5% 0;
    text-align: left;
}

.sm-p {
    padding: 0;
}

.about h3 {
    margin-top: 10%;
}

.about_Photo {
    max-width: 100%;
    margin-bottom: 10px;
}

#about_logo {
    max-width: 300px;
    margin-top: 22%;
}




/************* CONTACT */
.contactUs_information {
    margin: 22% 0 10% 0;
}

.contactUs_information img {
    width: 300px;
}

.contactUs_information h1 {
    margin-top: 10%;
}

.contact h1 {
    margin: 15% 0 5% 0;
}

.smMdLg_Contact h2 {
    margin: 30% 0 30% 0;
}

.smMdLg_Contact .address:first-of-type {
    margin: 30% 0 0 0;
}

.smMdLg_Contact .address:last-of-type {
    margin: 0 0 30% 0;
}

/* margin for xs */
#xsOnly {
    margin-bottom: 5%;
}

#xsOnly h2:last-of-type {
    margin-bottom: 5%;
}

/* margin for sm+ */
.contact_Content {
    margin-top: 0;
}

.contactInfo {
    max-width: 100%;
    margin: 0;
}

iframe {
    max-width: 100%;
}

#thumbnailContainer {
    margin-top: 7%;
}

.thumbnail img {
    height: 115px;
}






/************* GALLERY */
.xs_Gallery {
    margin-top: 10%;
}

.gallery_information {
    margin: 22% 0 10% 0;
}

.gallery_information img {
    width: 300px;
}

.gallery_information h1 {
    margin-top: 10%;
}

.gallery_Content {
    margin: 0;
}

.gallery h1 {
    margin: 15% 0 5% 0;
}

.itemInfo {
    height: 200px;
}

.alignTop h3, h4 {
    margin: 0;
}

.alignBottom {
    margin-top: 100%;
}

.pieceContainer {
    margin-bottom: 10%;
}

.pieceContainer img {
    max-width: 100%;
    margin-bottom: 25%;
}

.smMdLg_pieceContainer {
    margin-bottom: 10%;
}

.smMdLg_pieceContainer img {
    max-width: 100%;
}

#smMdLg_Gallery h1 {
    margin: 5%;
}

.gallery .btn {
    margin-top: 5%;
}


/************* ITEM */
.xs_Items {
    margin: 22% 0 10% 0;
}

.xs_Items img {
    width: 250px;
}

#smMdLg_Items {
    margin: 15% 0 5% 0;
}

.items_Logo {
    margin-bottom: 10%;
}

.items_Photo {
    max-width: 100%;
}

.items_Description {
    margin-top: 10%;
}

#smMdLg_Items .items_Photo {
    height: 260px;
}
